<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Colors of New Orleans</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le styles -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="/css/style.less" />

    <script src="/javascript/less.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/assets/bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/assets/bootstrap/ico/favicon.png">
  </head>

  <body>


    <div class="container">
      <div class='row'>

        <div class="jumbotron">
          <h1>Colors of New Orleans</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo..</p>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <ul class='nav nav-tabs'>
          <li><a href='#'>All</a>
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="row">


        <div class="tweets">
        	{{#items}}
    			<blockquote class="tweet span4">
					<a href="https://twitter.com/{{account}}">
						<img src="{{pic}}">
						<span class="full-name">{{fullname}}</span>
						<span class="account-name">{{account}}</span>
					</a>
  			    <p class="message">{{message}}</p>
  			    <div class="date">{{date}}</div>
  			    <div>
  			    	<ul class="tweet-actions">
  			    		<li><a href="https://twitter.com/intent/tweet?in_reply_to={{id}}" title="Reply">Reply</a></li>
  			    		<li><a href="https://twitter.com/intent/retweet?tweet_id={{id}}" title="Retweet">Retweet</a></li>
  			    		<li><a href="https://twitter.com/intent/favorite?tweet_id={{id}}" title="Favorite">Favorite</a></li>
  			    	</ul>
  			    </div>
    			</blockquote>
    			{{/items}}

        </div>

        <hr>

        <div class="footer">
          <p>&copy; Company 2013</p>
        </div>

      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/bootstrap/js/jquery.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascript/scripts.js"></script>

  </body>
</html>

<!---->