/* line 4, ../sass/style.scss */
body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Main marketing message and sign up button */
/* line 10, ../sass/style.scss */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}

/* line 14, ../sass/style.scss */
.jumbotron h1 {
  font-size: 72px;
}

/* line 18, ../sass/style.scss */
.interdum {
  border: 1px solid #666666;
  padding: 4px;
}

/* line 22, ../sass/style.scss */
.twitter-pic {
  width: 40px;
  height: 40px;
}
