<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Colors of New Orleans</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="/css/screen.css">


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144-precomposed.png">-->
  <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114-precomposed.png">-->
  <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72-precomposed.png">-->
  <!--<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-57-precomposed.png">-->
  <!--<link rel="shortcut icon" href="/images/favicon.png">-->
</head>

<body class="page-{{collection}}">
  <div id="page"><div class='limiter'>

  <div id="header">
    <a href='/'><img src='/img/logo.png' /></a>
  </div>

  <div id="menu">
    <ul>
      <li><a href='/' style="">Home</a></li>
      <li><a href='/food' style="background-color: #be220b; color: white;">Food</a></li>
      <li><a href='/sports' style="background-color: #977a36; color: white;">Sports</a></li>
      <li><a href='/music' style="background-color: #0096b3; color: white;">Music</a></li>
      <li><a href='/festivals' style="background-color: #690380; color: white;">Festivals</a></li>
      <!-- <li><a href='/community' style="background-color: #f7941d; color: white;">Community</a></li> -->
    </ul>
  </div>

  <div id="tweets">

  	{{#items}}
  	<div class="tweet {{collections}}">
      <a href="https://twitter.com/{{screen_name}}">
        <img class='pic' src="{{profile_image_url}}" />
        <span class="full-name">{{name}}</span>
        <span class="account-name">{{screen_name}}</span>
      </a>
      <p class="message">{{text}}</p>
      <div class="date">{{created_at}}</div>
      <ul class="tweet-actions">
        <li><a href="https://twitter.com/intent/tweet?in_reply_to={{twitter_id}}" title="Reply">Reply</a></li>
        <li><a href="https://twitter.com/intent/retweet?tweet_id={{twitter_id}}" title="Retweet">Retweet</a></li>
        <li><a href="https://twitter.com/intent/favorite?tweet_id={{twitter_id}}" title="Favorite">Favorite</a></li>
      </ul>
    </div>
		{{/items}}
  </div>

  <div id="footer">
    <p>&copy; Company 2013</p>
  </div>

  </div></div>


  <script src="/assets/bootstrap/js/jquery.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/javascript/scripts.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{google_analytics_id}}', 'colorsofneworleans.com');
    ga('send', 'pageview');
  </script>
  </body>
</html>